<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Forgot Password | Resource Hub</title>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Raleway:300,600" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <!-- <link rel="stylesheet" href="/css/signup.css"> -->
    <link rel="stylesheet" href="/css/forgotPassword.css">
    <link rel="icon" href="/img/favicon.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<style>
/* .social-container1 {
  text-align: center;
}
.sociallinkbtn {
  display: inline-block;
  width: 60px;
  height: 56px;
  background: #f1f1f1;
  margin: 10px;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
  color: #562fc7;
  overflow: hidden;
  position: relative;
}
.sociallinkbtn i {
  line-height: 60px;
  font-size: 26px;
  transition: 0.2s linear;
}
.sociallinkbtn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}
.sociallinkbtn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #562fc7;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.sociallinkbtn:hover::before{
  animation: aaa 0.7s 1;
  top: -10%;
  left: -10
}
@keyframes aaa {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
.logo{
  font-size:2.7rem;
}
.nav-links{font-size:1.6rem;}
.brand{
    min-height: 55vh;
    margin-top: 17.5vh;
}
.brand::before {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 20vh;
    left: 0;
}
.form .form-peice{
      min-height: 50vh;
    margin-top: 20vh;
}
.form form{
  width: 70%;
    position: absolute;
    top:40%;
    left: 60%;
}
@media screen and (max-width: 768px){
  .form form{
    top: 20%;
  }
  .brand::before {
    background:none;
  }
  .form .form-peice{
    min-height:60vh;
  }

} */
</style>
</head>
<body>
<!-- <nav class="navbar">
    <label class="navbar-toggle" id="js-navbar-toggle" for="chkToggle">
            
            <i class="fas fa-bars"></i>
        </label>
    <a href="/" class="logo">Resource Hub</a>
    <input type="checkbox" id="chkToggle"></input>
    <ul class="main-nav" id="js-menu">
      <li>
        <a href="/?user=false" class="nav-links">Home</a>
      </li>
      <li>
        <a href="/?user=false#about" class="nav-links">About</a>
      </li>
      <li>
        <a href="/users/branch" class="nav-links">Hub</a>
      </li>
      <li>
        <a href="/?user=false#contact" class="nav-links">Contact Us</a>
      </li>
    </ul>
  </nav> -->
<div class="forgotPasswordContainer">
   <section id="formHolder">

      <!-- <div class="row"> -->

        

         <!-- Brand Box -->
         <!-- <div class="col-sm-6 brand cover">
         	<video src="/img/particle.mp4" muted="" autoplay="" loop></video>
          <h3 class="tag"><span>R</span>esource <span>H</span>ub <span>N</span>ITS</h3>
         </div> -->

         
         <!-- Form Box -->
         <!-- <div class="col-sm-6 form"> -->
            <!-- Signup Form -->
      <div class="imgContainer">
        <img src="/img/signup/illustraion-signup_login.svg" alt="">
      </div>
      <div class="signup form-peice">
          <div class="error-scroll" id="error">
              <%- include('./partials/messages') %>
          </div>
          
          <form class="signup-form" action="/users/forgotPassword" method="post">
              <h3 id="signh3" class="heading">Forgot Password</h3>             
            <div class="form-group">
                <input type="email" name="email" id="email" class="email" value="<%= typeof email != 'undefined' ? email : '' %>" required="true" placeholder="Enter your email address">
                <span class="error"></span>
            </div>
            <div class="CTA">
              <input type="submit" id="sub" value="Sign Up">
              <br>
              <p class="msg">Already have an account? - <a href="/users/signup" style="font-size: 13px;"><b>Login</b></a></p>     
            </div>
          </form>
      </div>
            <!-- End Signup Form -->
         <!-- </div>
      </div> -->

   </section>


</div>
<!-- partial -->
  
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script  src="/js/signup.js"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js'></script>
</body>
</html>
