/*

Demo for my blog post: https://blog.sarasoueidan.com/horizontal-portfolio-layout

Also available on Github: https://github.com/SaraSoueidan/horizontal-portfolio-layout

*/
@import url(https://fonts.googleapis.com/css?family=Lato:300,100,400);
@import url("https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed:300,400,500,600,700|Rajdhani:400,500,600,700&display=swap");


* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  position: relative;
  list-style-type: none
}

a {
  color: inherit;
  text-decoration: none
}

a.link {
  color: #C4290D
}

html,
body {
  min-height: 100%;
  font-family: "Barlow Semi Condensed", sans-serif;
}

body {
  background: #eee url('https://subtlepatterns.com/patterns/pw_pattern.png');
  font: 300 20px/1.5 "Lato", sans-serif;
  color: #333
}

header {
  background-color: white;
  padding: 0 30px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  z-index: 10;
  line-height: 2em
}

header a {
  font-size: 20px
}

.demo-wrapper {
  padding-top: 0px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;

}

h1 {
  font-size: 42px;
  margin: 0;
  font-weight: 300;
  margin-bottom: 30px;
  letter-spacing: -1px;
  text-align: center
}

.portfolio-items {
  height: 500px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  margin-bottom: 30px;
  position: relative
}

.portfolio-items > li {
  display: inline-block;
  vertical-align: top
}

.item {
  width: 300px;
  height: 400px;
  margin: 70px 20px 0;
  padding: 5px;
  border-radius: 2px;
  background-color: white;
  font-size: 14px;
  opacity: 0;
  position: relative;
  top: -300px;
  box-shadow: 0px 10px 10px -5px rgba(0,0,0,0.5);
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  -webkit-transition: all .5s ease, opacity 2s ease,  top 1s ease;
  -o-transition: all .5s ease, opacity 2s ease,  top 1s ease;
  transition: all .5s ease, opacity 2s ease,  top 1s ease
}

.item:nth-child(even) {
  margin-top: 100px
}

.item:hover {
  height: 380px;
  padding: 15px;
  -webkit-transform: translateY(-68px);
  -ms-transform: translateY(-68px);
  -o-transform: translateY(-68px);
  transform: translateY(-68px)
}

.item:hover .date {
  -webkit-transform: translate3d(0, 61px, 0);
  -ms-transform: translate3d(0, 61px, 0);
  -o-transform: translate3d(0, 61px, 0);
  transform: translate3d(0, 61px, 0)
}

.item:hover figcaption {
  -webkit-animation: show .45s ease-in .120s forwards;
  -o-animation: show .45s ease-in .120s forwards;
  animation: show .45s ease-in .120s forwards
}

.item:hover p:nth-of-type(1) span {
  -webkit-animation: slideOut .45s ease-out .15s forwards;
  -o-animation: slideOut .45s ease-out .15s forwards;
  animation: slideOut .45s ease-out .15s forwards
}

.item:hover p:nth-of-type(2) span {
  -webkit-animation: slideOut .35s  ease-out .3s forwards;
  -o-animation: slideOut .35s  ease-out .3s forwards;
  animation: slideOut .35s  ease-out .3s forwards
}
.item:hover p:nth-of-type(3) span {
  -webkit-animation: slideOut .25s ease-out .45s forwards;
  -o-animation: slideOut .25s ease-out .45s forwards;
  animation: slideOut .25s ease-out .45s forwards
}
.item:hover p:nth-of-type(4) span {
  -webkit-animation: slideOut .15s ease-out .55s forwards;
  -o-animation: slideOut .15s ease-out .55s forwards;
  animation: slideOut .15s ease-out .55s forwards
}
.item:hover p:nth-of-type(5) span {
  -webkit-animation: slideOut .10s ease-out .60s forwards;
  -o-animation: slideOut .10s ease-out .60s forwards;
  animation: slideOut .10s ease-out .60s forwards
}

.item:hover .view {
  height: 170px
}

.item:hover .view img {
  top: -20px;
  left: -20px;
}

.falldown {
  top: 0;
  opacity: 1;
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  transform: rotate(0)
}

figure {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.view {
  overflow: hidden;
  width: 100%;
  height: 230px;
  position: relative
}

.view img {
  width: 300px;
  height: 230px;
  -webkit-transition: width .4s ease;
  -o-transition: width .4s ease;
  transition: width .4s ease;
  position: absolute;

}

figcaption {
  height: 100px;
  width: 100%;
  padding: 0;
  position: absolute;
  bottom: 0;
  overflow: hidden;
  opacity: 0
}
figcaption div{
  opacity: 1;
}

figcaption p {
  line-height: 25px !important;
  font: bold 12px/18px "Arial", sans-serif;
  text-transform: uppercase;
  padding: 0 10px;
  margin: 5px 0;
  width: 100%;
  background-color: #f0f0f0;
  color: #333
}

figcaption span {
  left: -100%;
  opacity: 0
}

figcaption a {
  color: #CC320F
}

.date {
  z-index: 1;
  width: 50px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 1px;
  background-color: #CC320F;
  position: absolute;
  bottom: 20px;
  left: 15px;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
  -o-transition: -o-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
  transition: -webkit-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
  transition: -ms-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
  transition: -o-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
  transition: transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92)
}
  .stars{
     -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
  -o-transition: -o-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
  transition: -webkit-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
  transition: -ms-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
  transition: -o-transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92);
  transition: transform 0.5s cubic-bezier(0.12, 1.6, 0.91, 0.92)
}
.item:hover .stars {
  -webkit-transform: translate3d(0, 70px, 0);
  -ms-transform: translate3d(0, 70px, 0);
  -o-transform: translate3d(0, 70px, 0);
  transform: translate3d(0, 70px, 0)
}
@keyframes slideOut {
  0% {
    left: -100%;
    opacity: 0
  }

  95% {
    left: 0;
    opacity: 0.2
  }

  100% {
    opacity: 1;
    left: 0
  }
}

@keyframes show {
  to {
    opacity: 1;
    height:160px;
  }
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
  cursor: pointer
}

::-webkit-scrollbar-track {
  background-color: #ddd;
  border-radius: 10px
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #C4290D
}

@-webkit-keyframes slideOut {
  0% {
    left: -100%;
    opacity: 0
  }

  95% {
    left: 0;
    opacity: 0.2
  }

  100% {
    opacity: 1;
    left: 0
  }
}

@-o-keyframes slideOut {
  0% {
    left: -100%;
    opacity: 0
  }

  95% {
    left: 0;
    opacity: 0.2
  }

  100% {
    opacity: 1;
    left: 0
  }
}

@-webkit-keyframes show {
  to {
    opacity: 1
  }
}

@-o-keyframes show {
  to {
    opacity: 1
  }
}



.navbar {
    font-size: 18px;
    background:#562fc7;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 10px;
    /* position: relative; */
   /* top: -2vh; */
    left: -2.5vw;
    /* width: 100vw; */
    overflow: hidden;
    z-index: 99;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  .sticky + .stickycontent {
    padding-top: 60px;
  }
  
  .main-nav {
    list-style-type: none;
    display: none;
  }
  
  .nav-links,
  .logo {
    color: #ffffff;
      font-size: 1.1rem;;
      padding: 40px 20px;
      font-family: "Barlow Semi Condensed", sans-serif;
      text-transform: uppercase;
      line-height: 12px;
      font-weight: 600;
    text-decoration: none;
  }
  #chkToggle:checked + ul.main-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      /* justify-content: center; */
  }
  .navbar-toggle {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.8);
    font-size: 24px;
  }
  
  #chkToggle {
    display: none;
  }

  #navtoggle {
      color: white;
      font-size: 2.4rem;
      display: none;
      float: right;
      position: absolute;
      z-index: 999;
  }
  #navtoggle:hover{
      cursor: pointer;
  }

  @media screen and (max-width: 768px){
      #navtoggle {
          display: block;
          right: 30px;
          top: 40px;
      }
      .profileicon {
        float: left;
        transform: translateX(-70vw);
      }
      /* #profilediv {
        margin-left: 18px;
      } */
  }
  
  /*#chkToggle:checked + ul.main-nav {
    display: block;
  }*/
  @media screen and (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: center;
      padding-bottom: 0;
      height: 85px;
      align-items: center;
       top: -1vh;
    left: -0.5vw;
    }
    .logo{
    display: inline-block;
      position: relative;
      font-size: 2rem;
    }
    /* #chkToggle:checked + ul.main-nav {
      display: flex;
    } */
  
    .main-nav {
      display: flex;
      margin-right: 30px;
      flex-direction: row;
      justify-content: flex-end;
    }
  
    .main-nav li {
      margin: 0;
    }
  
    .nav-links {
      margin-left: 40px;
    }
  
    .logo {
      margin-top: 0;
    }
  
    /* .navbar-toggle {
      display: none;
    } */
  
    .logo:hover,
    .nav-links:hover {
      color: rgba(255, 255, 255, 1);
      text-decoration:none;
    }
  }

  #smallnavbar {
        width: 100vw;
      position: fixed;
    top: 8vh;
    left: 0;
    z-index:100;
    text-align: center;
    line-height: 6vh;
    margin: auto;
    background: black;
    box-shadow: 2px 2px 10px rgb(165, 162, 162);
    padding: 10px;
    display: none;
  }

  .smallmain-nav {
      list-style: none;
  }
   .footer_part {
    background-color: #E9E2FF;
    text-align: center;
    font-size: 1.2em;
  }
  
  .grid-footer {
    /* display: grid;
    grid-template-columns: auto auto auto auto auto; */
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    margin: auto;
  }

  @media only screen and (max-width : 1150px){
    .grid-footer {
        /* display: grid;
        grid-template-columns: auto auto auto auto; */
        padding: 30px;
        margin: auto;
    }
}

@media only screen and (max-width : 950px){
    .grid-footer {
        /* display: grid;
        grid-template-columns: auto auto auto; */
        padding: 30px;
        margin: auto;
    }
}
@media only screen and (max-width : 600px){
    .grid-footer {
        /* display: grid;
        grid-template-columns: auto auto; */
        padding: 15px;
        margin: auto;
    }
}

@media only screen and (max-width : 570px){
    .grid-footer {
        /* display: grid;
        grid-template-columns: auto; */
        padding: 15px;
        margin: auto;
    }
}
.footer_part .single_footer_part h4 {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
  }

  .footer_part .single_footer_part p {
    margin-bottom: 10px;
  }
  
.footer_part .single_footer_part .list-unstyled li a {
    color: #888888;
    margin-bottom: 10px;
    display: inline-block;
    text-decoration: none;
    /* margin-left: -30px; */
    font-size: 20px;
  }

  .footer_part .single_footer_part .list-unstyled li a:hover {
    color: #ff4800 !important;
  }

  .footer_part hr {
    background-color: #cad7dc;
    margin-top: 50px;
    margin-bottom: -25px;
  }

.grid-footer ul li {
    list-style-type: none;
}
.footer_part .single_footer_part .social_icon li a {
    margin-left: 0;
    margin-right: 25px;
  }
  
  .grid-item {
          margin-top: 3vh;
    }
   @media (min-width: 768px) {
    
    .grid-item {
          margin-bottom: 10vh;
          margin-top: 10vh;
    }
  }
  

  
  
  @media (max-width: 576px) {
   
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    
    .footer_part .single_footer_part {
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .footer_part .single_footer_part {
      margin-bottom: 20px;
    }
  }
  
 
  .footer_part .single_footer_part h4 {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
  }
  
  @media (max-width: 576px) {
   
    .footer_part .single_footer_part h4 {
      margin-bottom: 15px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
   
    .footer_part .single_footer_part h4 {
      margin-bottom: 15px;
    }
  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
 
    .footer_part .single_footer_part h4 {
      margin-bottom: 15px;
    }
  }
  
  
  .footer_part .single_footer_part p {
    margin-bottom: 10px;
  }
  
 
  .footer_part .single_footer_part .list-unstyled li a {
    color: #888888;
    margin-bottom: 10px;
    display: inline-block;
  }
  
  
  .footer_part .single_footer_part .list-unstyled li a:hover {
    color: #ff4800 !important;
  }
  
 
  .footer_part .single_footer_part .social_icon {
    float: left;
    margin-top: 38px;
  }
  
  @media (max-width: 991px) {
   
    .footer_part .single_footer_part .social_icon {
      margin-top: 15px;
    }
  }
  
  
  .footer_part .single_footer_part .social_icon li a {
    margin-left: 0;
    margin-right: 25px;
  }
  
  
  .footer_part .single_footer_part .mail_part {
    position: relative;
  }
  
 
  .footer_part .single_footer_part .mail_part input {
    padding: 9px 22px;
    font-size: 13px;
    border-radius: 50px;
    border: 2px solid #fff;
    margin-top: 20px;
    width: 100%;
    background-color: #f9f9fe;
    border: 1px solid #ebebeb;
  }
  
  
  .footer_part .single_footer_part .mail_part .email_icon {
    position: absolute;
    right: 0px;
    top: 20px;
    width: 60px;
    height: 39px;
    background-color: #ff4800;
    text-align: center;
    color: #fff;
    border-radius: 50px;
    line-height: 10px;
    border: 2px solid #ff4800;
  }
  
  
  .footer_part hr {
    background-color: #cad7dc;
    margin-top: 50px;
    margin-bottom: 25px;
  }
  
  
  .footer_part .footer_icon {
    text-align: right;
  }
  
 
  .footer_part .footer_icon li {
    display: inline-block;
  }
  
 
  .footer_part .footer_icon li a {
    font-size: 14px;
    color: #888888;
    margin-left: 30px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  @media (max-width: 576px) {
    
    .footer_part .footer_icon li a {
      margin-left: 0px;
      margin-right: 25px;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    
    .footer_part .footer_icon li a {
      margin-left: 0px;
      margin-right: 25px;
    }
  }
  
 
  .footer_part .footer_icon li a :hover {
    color: #ff4800;
  }
  
  @media (max-width: 576px) {
    ]
    .footer_part .footer_icon {
      float: left;
      margin-top: 15px;
    }
  }
  
  
  .footer_part .copyright_text p {
    color: #888;
  }
  
  
  .footer_part .copyright_text span {
    color: #ff4800;
    font-size: 12px;
  }
  
  @media (max-width: 991px) {
   
    .footer_part .copyright_text {
      text-align: center !important;
    }
  }
  
  
  .footer_part .copyright_text p a {
    color: #ff4800;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  
  .footer_part .copyright_text p a:hover {
    color: #ff4800;
  }
  
 
  .footer_part .info {
    color: red !important;
  }
  
  @media (max-width: 991px) {
   
    .footer_part .footer_icon {
      text-align: center;
      float: none;
    }
  } 
  .profileiconfontaw{
    font-size: 50px;
    margin-bottom: 10px;
}

.profileicon {
    margin-top: 15px;
    color: rgb(49, 175, 224);
    z-index: 999;
}
.profileicon:hover {
    cursor: pointer;
    color: midnightblue;
}

#profilediv {
    display: none;
    border: 1px solid darkgrey;
    /* padding-top: -10px;
    padding-bottom: -10px; */
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 2px 2px 10px darkgrey;
    transform: translateX(15px);
    /* float: left; */
    background: white;
    width: 180px;
}

#profilediv p:hover {
    color: mediumblue;
}
  
  .profileicon .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .profileicon:hover .tooltiptext {
    visibility: visible;
  }
/*Rating stars */

  .stars{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: center;
    top: -5vh;
    left: 3vw;
}
.stars__star-icon{
  stroke:#FF9900;
  stroke-width: 4px;
  fill: transparent;
  transition: .1s all;
}
.stars__star{
  width: 20px;
  height: 20px;
  position: relative;
  cursor: pointer;
  margin: 2px;
}
.stars__checkbox{
  position: absolute;
  top: -9999px;
  opacity: 0;
  width: 0;
  height: 0;
}
.stars__star:hover > .stars__star-icon{
  fill: #FF9900;
}

.stars__star:hover ~ .stars__star > .stars__star-icon {
  fill: #FF9900;
}
.stars__checkbox:checked + .stars__star > .stars__star-icon {
  fill: #FF9900;
}

.stars__checkbox:checked ~ .stars__star > .stars__star-icon {
  fill: #FF9900;
}

.card {
  box-shadow: none;
  background: #F7EDD5;
}
.signIn {
  position: relative;
  width: 30%;
  margin: auto;
  height: 50%;
  background: #00BCD4;
  color: #fff;
  text-align: center;
  /* line-height: 60px; */
  font-size: 40px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);
  padding: 20px;
  transform: translateY(-80px);
}


.fold {
  position: relative;
  width: 30%;
  margin: auto;
  background: #20728A;
  transform-origin: top;
  padding: 30px 20px;
  box-sizing: border-box;
  transition: 0.5s;
  /* transform: perspective(2000px) rotateX(90deg); */
  display: none;
  transform: translateY(-80px);
}

@media screen and (max-width : 700px){
  .signIn {
    width: 80%;
    transform: translateY(0px);
  }
  .fold {
    width: 80%;
    transform: translateY(0px);
  }
}

/* .fold.active {
  transform: perspective(2000px) rotateX(0deg);
} */

.fold form select{
  width: 100%;
  height: 100%;
}
.fold form input[type="text"] {
  width: 100%;
  margin-bottom: 20px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border-radius: 40px;
  box-shadow: none;
  outline: none;
  color: #fff;
  background: transparent;
  border: 1px solid #fff;
}
::placeholder {
  color: #fff;
}
.fold form input[type="file"] {
  display: none;
}
.fold form input[type="submit"]{
  display: block;
  padding: 12px 40px;
  border-radius: 40px;
  box-shadow: none;
  border: none;
  outline: none;
  cursor: pointer;
  background: #00BCD4;
  color: #fff;
  box-shadow: 0 5px 10px rgba(0,0,0,0.5);

}
.fold form input[type="submit"]:hover{
  background: #247ebf;
}
#selectBranch {
  margin-bottom: 10px;
  position: relative;
  font-family: Arial;
}

#selectSem {
  margin-bottom: 15px;
  position: relative;
  font-family: Arial;
}

#selectSem p {
  color: white;
}
#selectBranch p{
  color: white;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: white;
  margin-bottom: 5px;
}
.custom-file-upload:hover{
  border: 2px solid white;
  transition: .5s ease-in-out;
}

/* .tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
} */

.tooltip .tooltiptext {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 5px;
  font-size: 15px;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 2;
  top: 5px;
  left: 105%;
}
@media screen and (min-width: 700px){
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent black transparent transparent;
  }
}


.tooltip:hover .tooltiptext {
  visibility: visible;
}

@media screen and (max-width: 700px){
  .tooltip .tooltiptext {
    width: 150px;
    transform: translateY(-80px);
    /* bottom: 200%; */
    left: 50%;
    margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
  }
  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 100%; /* At the bottom of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
  }
}