/* .sign-up */

input {
outline: none !important;
}

h1 {
text-align: center;
text-transform: uppercase;
margin-bottom: 40px;
font-weight: 700;
}
h5 {
color:black;
}

/* Scrollbar */

::-webkit-scrollbar {
width: 5px;
}

::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px #562fc7;
border-radius: 10px;
}

::-webkit-scrollbar-thumb {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px #562fc7;
}

.container{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


/* Form styling */

form {
width: 100%;
text-align: center;
}
.form-group{
position: relative;
}
.signup-form form .heading,
.login-form form .heading{
color: #6675F8;
font-size: 30px;
font-weight: bold;
margin: auto;
margin-top:5rem ;
margin-bottom: 1rem;
}

#signh31{
margin-top: 10rem;
}

/* #signh3{
margin-top: 6rem;
font-size: 25px;
margin-bottom: 4rem;
} */

.form-group input{
width: 70%;
height: 35px;
border-radius: 14px;
border: 1px solid rgb(65, 65, 65);
}

::placeholder{
padding-left: 10px;
}

.signup-form input,
.login-form input{
margin: .4rem auto;
}

.submit-btn{
background-color: #FF842B;
color: white;
font-weight: bold;
padding: 1rem 3rem;
border: none;
outline: none;
border-radius: 25.5px;
}

.hr-sect {
display: flex;
flex-basis: 100%;
align-items: center;
color: rgba(0, 0, 0, 0.35);
margin: 8px 0px;
margin-top: 2rem;
padding: 0 5rem;
}
.hr-sect:before,
.hr-sect:after {
content: "";
flex-grow: 1;
background: rgba(0, 0, 0, 0.35);
height: 1px;
font-size: 0px;
line-height: 0px;
margin: 0px 8px;
}

.sociallinkbtn{
margin: 1rem 1rem;
}

/* Eye */

/* default eye */
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}

#eye1{
float: right;
margin-left: 245px;
display: none;
}

.password-input{
position: relative;
}

#eye,#eye2{
position: absolute;
top: 27%;
right: 17%;
display: none;
}

#eye3{
position: absolute;
top: 25%;
right: 17%;
display: none;
}

#signup-hide1,#signup-hide3, #login-hide1 {
display: none;
cursor: pointer;
font-size: 20px;
}
#signup-hide2, #signup-hide4, #login-hide2{
cursor: pointer;
font-size: 20px;
}

.form-peice{
z-index: block;
}

/* .form-peice.switched {
display: none;
} */

input.loginInput,
input.signinInput{
background-position: 5px;
background-size:contain;
background-repeat: no-repeat !important;
text-indent: 40px;
}
::placeholder{
color: #a3a3a3;
}

input#loginemail{
background-size: 20px;
background-position: 15px;
background-image: url("/img/icons/email.png");
}

input#loginPassword{
background-size: 20px;
background-position: 15px;
background-image: url("/img/icons/password.png");
}

input#password, input#passwordCon {
background-size: 21px;
background-position: 18px;
background-image: url("/img/icons/password.png");
}

input#name{
background-size: 25px;
background-position: 15px;
background-image: url("/img/icons/user.png");
}

input#email{
background-size: 23px;
background-position: 15px;
background-image: url("/img/icons/email.png");
}

input.loginInput:focus,
input.signinInput:focus,
input.loginInput:not(:placeholder-shown),
input.signinInput:not(:placeholder-shown){
background-image: none !important;
text-indent: 2px;
}

.show {
margin-bottom: 0 !important;
}
.signup-logo{
margin-left: 1rem;
margin-top: 1rem;
}

/* mobile view */

.small-screen{
display: none !important;
}

@media screen and (max-width: 768px){
  .small-screen{
    display: block !important;
  }
  .big-screen{
    display: none !important;
  }
  .form-peice.switched {
    display: none;
  } 
  .svg{
    display: none;
  }
  .login-form{
    margin: 40% 0px;
  }
  .login-form-2{
    margin: 20px 0px;
  }
  body{
    background-color: white!important;
    height: 70vh!important;
  }
  .sociallinkbtn {
    margin: 60px 10px;
  }
  .hr-sect{
    margin-top: 3rem;
  }

  /*signup page mobile view*/
  .signup-form{
    margin: 30% 0px;
  }
  .CTA{
    margin-top: 20px;
  }

}

/* /////// Card-Flip///////// */

.box-card{
perspective: 1000;
transition: transform 0.6s;
transform-style: preserve-3d;
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.box-card.flipped {
-webkit-transform: rotateY( 180deg );
-moz-transform: rotateY( 180deg );
-o-transform: rotateY( 180deg );
transform: rotateY( 180deg );
}

.box-card-front{
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transform:rotateY(0deg);
}

.box-card-back{
position: absolute;
top: 0;
left: 0; 
right: 0; 
margin-left: auto; 
margin-right: auto; 
-webkit-backface-visibility: hidden;
backface-visibility: hidden;
transform: rotateY( 180deg );

}



@media screen and (max-width: 1300px) {
  p{
    margin: 0px;
  }
  .form-group input{
    height: 32px;
  }
  .form-peice input{
    padding: 0.6rem 1.2rem;
    text-indent: 35px;
  }
  .submit-btn{
    text-indent: 0 !important;
  }
}


/* spash message */

.error-scroll button{
  border-style: none;
  background: transparent;
}

#error{
  backface-visibility: hidden !important;
  -webkit-backface-visibility: hidden !important;
  transform: rotateY(0deg) !important;
}

.alert{
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top-right-radius: 45px;
  border-top-left-radius: 45px;
  padding: 1rem !important;
  padding-left: 1.2rem !important;
}

@media screen and (max-width: 768px){
  .alert{
    padding: .6rem 2rem !important;
  }
  
}

/* logo */

.logo{
  position:absolute;
  top: 0;
  left: 0;
  width: 6rem;
}
