/* General styling */

body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: #562fc7;
}

.container {
  max-width: 900px;
}

a {
  display: inline-block;
  text-decoration: none;
}
p {
  margin: 0 0 16px;
}

/* .sign-up */
 
input {
  outline: none !important;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 700;
}
h5{
  color:black;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #562fc7; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #562fc7; 
}


/* Navbar Styling */

.navbar {
  font-size: 2.2vh;
  background:#562fc7;
  padding-bottom: 0px;
  margin: 0px;
  border-radius: 0px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  color: #ffffff;
    padding: 40px 20px;
    font-family: "Barlow Semi Condensed", sans-serif;
    line-height: 12px;
    font-weight: 600;
  text-decoration: none;
}
#chkToggle:checked + ul.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.main-nav li {
  /*text-align: center;
  margin: 15px auto;*/
}
.navbar-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
}

#chkToggle {
  display: none;
}

/*#chkToggle:checked + ul.main-nav {
  display: block;
}*/
.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}
/* @media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    height: 10vh;              
    align-items: center;
  }
  .logo{
  display: inline-block;
    position: relative;
        left: -18%;
}
  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration:none;
  }
} */

/* Form styling */

section#formHolder {
  display: flex;
  background-color: rgb(86, 47, 199);
  width: 100%;
  height: 100%;
}

.container-left{
  width: 60%;
}

.container-right {
  background-color: white;
  margin: 3rem;
  margin-right: 14rem;
  border-radius: 43px;
  width: 530px;
  position: relative;
  height: 597px;
}

.signup-logo {
  height: 60px;
  width: 75px;
  margin: 20px;
}
.signup-illustration {
  height: 43vw;
  width: 45vw;
  position: absolute;
  top: 10%;
  left: 6%;

}


form {
  width: 100%;
  text-align: center;
}

.signup-form form .heading,
.login-form form .heading{
  color: #6675F8;
  font-size: 30px;
  font-weight: bold;
  margin: 4rem auto;
  margin-top:7rem ;
}

#signh31{
  margin-top: 10rem;
}

#signh3{
  margin-top: 6rem;
  font-size: 25px;
  margin-bottom: 4rem;
}

.form-group input{
  width: 70%;
  height: 35px;
  border-radius: 14px;
  border: 1px solid rgb(65, 65, 65);
}

::placeholder{
  padding-left: 10px;
}

.signup-form input,
.login-form input{
  margin: .4rem auto;
}

.submit-btn{
  background-color: #FF842B;
  color: white;
  font-weight: bold;
  padding: 1rem 3rem;
  border: none;
  outline: none;
  border-radius: 25.5px;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
  margin-top: 60px;
  padding: 0 5rem;
}
.hr-sect:before,
.hr-sect:after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

.sociallinkbtn{
  margin: 1rem 1rem;
}

/* Eye */

#eye1{
  float: right;
  margin-left: 245px;
  display: none;
}

.password-input{
  position: relative;
}

#eye,#eye2{
  position: absolute;
  top: 27%;
  right: 17%;
  display: none;
}

#eye3{
  position: absolute;
  top: 30%;
  right: 17%;
  display: none;
}

#signup-hide1,#signup-hide3, #login-hide1 {
  display: none;
  cursor: pointer;
  font-size: 20px;
}
#signup-hide2, #signup-hide4, #login-hide2{
  cursor: pointer;
  font-size: 20px;
}

.form-peice{
  z-index: block;
}

.form-peice.switched {
  display: none;
}
.signinInput
{
  padding: 45px;
  padding-left: 45px;
}
input.loginInput,
input.signinInput{
  background-position: 5px;
  background-size:contain;
  background-repeat: no-repeat !important;
  text-indent: 40px;
  padding: 10px;
}
::placeholder{
  color: #a3a3a3; 
}

input#loginemail{
    background-size: 20px;
  background-position: 15px;
  background-image: url("/img/icons/email.png");
  padding: 45px;
}

input#loginPassword{
  background-size: 20px;
  background-position: 15px;
  background-image: url("/img/icons/password.png");
  padding: 45px;
}

input#password, input#passwordCon {
  background-size: 21px;
  background-position: 18px;
  background-image: url("/img/icons/password.png");
  padding-left: 45px;
}

input#name{
  background-size: 25px;
  background-position: 15px;
  background-image: url("/img/icons/user.png");
}

input#email{
  background-size: 23px;
  background-position: 15px;
  background-image: url("/img/icons/email.png");
}

input.loginInput:focus,
input.signinInput:focus,
input.loginInput:not(:placeholder-shown),
input.signinInput:not(:placeholder-shown){
  background-image: none !important;
  text-indent: 2px;
}

.show {
  margin-bottom: 0 !important;
}
.signup-logo{
  margin-left: 1rem;
  margin-top: 1rem;
}
 
@media screen and (max-width: 1300px) {
  .container-right{
    font-size: 1.2rem; 
    height: 550px;
    width: 500px;
    margin-right: 10rem;
    margin-left: 5rem;
  }
  .heading{
    font-size: 3rem !important;
    /* margin: 3rem auto !important; */
  }
  p{
    margin: 0px;
  }
  .form-group input{
    height: 32px;
    padding: 45px;
  }
  .form-peice input{
    /* margin: 5 !important; */
    padding: 0.6rem 1.2rem;
    text-indent: 35px;
  }/*
  .signup-illustration{
    top: 25%;
  }*/
  .submit-btn{
    text-indent: 0 !important;
  }
  #formHolder{
    height: 70vh !important;
  }
  .sociallinkbtn img{
    width: 3rem;
  }
  #terms{
    margin-right: 1rem !important;
  }
}

/* @media screen and (max-width: 900px){
  .container-left{
    width: 40%;
  }
  .container-right{
    width: 60%;
    font-size: 0.9rem;
  }
  #formHolder{
    height: 60vh !important;
  }
  .signup-illustration{
    left: 10%;
    top: 32%;
    height: 39vw;
    width: 36vw;
  }
  .heading{
    font-size: 2rem !important;
    margin: 2rem auto !important;
  }
  .switch b{
    font-size: 1rem;
  }
  .form-group input{
    width: 80%;
    padding: 0.4rem 1.2rem;
  }
  .sociallinkbtn img{
    width: 2rem;
  }
  .signup-msg{
    margin-top: -5px !important;
  }
  .show{
    margin: 0;
  }
  #signupForm{
    margin-top: 0 !important;
  }
} */

/* @media screen and (max-width: 500px){
  .navbar{
    margin-bottom: 0;
  }
  section#formHolder{
    margin: 0;
    width: 100%;
    height: calc(100vh - 114px) !important;
    border-radius: 0;
    box-shadow: none;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: hidden;
  }
  .container-right{
    width: 100%;
    height: 60%;
    margin: 0;
    border-radius: 50px 50px 0 0;
  }
  .container-left{
    width: 100%;
    height: 40%;
  }

  .container-left .signup-illustration{
    height: 72vw;
    width: 70vw;
    left: 14%;
    top: 15%;
  }
  .navbar{
    z-index: 100;
  }
  .signup-logo{
    width: 5rem;
  }
} */


/* mobile view */

.small-screen{
  display: none !important;
}

@media screen and (max-width: 768px){
  .small-screen{
    display: block !important;
  }
  .big-screen{
    display: none !important;
  }

}