/* General styling */

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 900px;
}

a {
  display: inline-block;
  text-decoration: none;
}

input {
  outline: none !important;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 40px;
  font-weight: 700;
}
h5{
  color:black;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #562fc7; 
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #562fc7; 
}


/* Navbar Styling */

.navbar {
  font-size: 2.2vh;
  background:#562fc7;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links,
.logo {
  color: #ffffff;
    padding: 40px 20px;
    font-family: "Barlow Semi Condensed", sans-serif;
    text-transform: uppercase;
    line-height: 12px;
    font-weight: 600;
  text-decoration: none;
}
#chkToggle:checked + ul.main-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.main-nav li {
  /*text-align: center;
  margin: 15px auto;*/
}
.navbar-toggle {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  font-size: 30px;
}

#chkToggle {
  display: none;
}

/*#chkToggle:checked + ul.main-nav {
  display: block;
}*/
.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: center;
    padding-bottom: 0;
    height: 85px;
    align-items: center;
  }
  .logo{
  display: inline-block;
    position: relative;
        left: -8%;
}
  #chkToggle:checked + ul.main-nav {
    display: flex;
  }

  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }

  .main-nav li {
    margin: 0;
  }

  .nav-links {
    margin-left: 40px;
  }

  .logo {
    margin-top: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .logo:hover,
  .nav-links:hover {
    color: rgba(255, 255, 255, 1);
    text-decoration:none;
  }
}

/* Form styling */

section#formHolder {
  display: flex;
  background-color: #786CFF;
  width: 80vw;
  height: 80vh;
  margin: 5rem auto;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgb(156, 156, 156);
}

.container-left{
  width: 60%;
}

.container-right{
  background-color: white;
  margin: 5rem;
  border-radius: 43px;
  width: 40%;
  position: relative;
}

.signup-illustration{
  height: 42vw;
  width: 40vw;
  position: absolute;
  top: 15%;
  left: 15%;
}

form {
  width: 100%;
  text-align: center;
}

.signup-form form .heading,
.login-form form .heading{
  color: #6675F8;
  font-size: 4rem;
  font-weight: bold;
  margin: 4rem auto;
}

.form-group input{
  width: 70%;
  height: 40px;
  border-radius: 14px;
  border: 1px solid rgb(65, 65, 65);
}

.signup-form input,
.login-form input{
  margin: .4rem auto;
}

.submit-btn{
  background-color: #FF842B;
  color: white;
  font-weight: bold;
  padding: 1rem 3rem;
  border: none;
  outline: none;
  border-radius: 25.5px;
}

.hr-sect {
  display: flex;
  flex-basis: 100%;
  align-items: center;
  color: rgba(0, 0, 0, 0.35);
  margin: 8px 0px;
  padding: 0 5rem;
}
.hr-sect:before,
.hr-sect:after {
  content: "";
  flex-grow: 1;
  background: rgba(0, 0, 0, 0.35);
  height: 1px;
  font-size: 0px;
  line-height: 0px;
  margin: 0px 8px;
}

.sociallinkbtn{
  margin: 1rem 1rem;
}

/* Eye */

#eye1{
  float: right;
  margin-left: 245px;
  display: none;
}

.password-input{
  position: relative;
}

#eye,#eye2{
  position: absolute;
  top: 27%;
  right: 17%;
  display: none;
}

#eye3{
  position: absolute;
  top: 30%;
  right: 17%;
  display: none;
}

#signup-hide1,#signup-hide3, #login-hide1 {
  display: none;
  cursor: pointer;
  font-size: 20px;
}
#signup-hide2, #signup-hide4, #login-hide2{
  cursor: pointer;
  font-size: 20px;
}

.form-peice{
  z-index: block;
}

.form-peice.switched {
  display: none;
}

input.loginInput,
input.signinInput{
  background-position: 5px;
  background-size:contain;
  background-repeat: no-repeat;
  text-indent: 45px;
}

input#loginemail{
  background-image: url("/img/icons/email.png");
}

input#loginPassword{
  background-size: 32px;
  background-position: 7px;
  background-image: url("/img/icons/password.png");
}

input#password, input#passwordCon {
  background-size: 32px;
  background-position: 7px;
  background-image: url("/img/icons/password.png");
}

input#name{
  background-image: url("/img/icons/user.png");
}

input#email{
  background-image: url("/img/icons/email.png");
}

input.loginInput:focus,
input.signinInput:focus,
input.loginInput:not(:placeholder-shown),
input.signinInput:not(:placeholder-shown){
  background-image: none !important;
  text-indent: 2px;
}
