.container{
    width: 86%;
    margin: auto;
    margin-top: 74px;
    margin-bottom: 4px;
}

.row{
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: left;
    flex-flow: wrap;
}

.card{
   display: flex;
   flex-direction: row;
   background: white;
   box-shadow: 0 2px 4px 0 rgba(88, 150, 230, 0.2);
   transition: 0.3s;
   width: 400px;
   height: 180px;
   border-radius: 5px;
   margin: 10px 12px;
} 


.card:hover {
   transform: scale(1.02);
   box-shadow: 0 4px 8px 0 rgba(20, 89, 179, 0.2);
}
.sem_img{
   flex:45%;
   width: 40%;
}
.details{
   flex: 55%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   margin:10px;
}
.details h2{
   font-size: 22px;
   line-height: 2;
   margin: 3% 0%;
   color: #081F32;
}

.details p{
  font-size: 12px;
  line-height: 1.5;
  margin: 2% 0%;
  color: #6E798C;
}

.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.buttons button{
    padding: 3px 8px;
    border: none;
    border-radius: 2px;

}


.notes_btn{
    background: #46D68C;
    margin-right: 8px;
}

.notes_btn:hover {background-color: #2ec275}

.questions-btn{
    background: #007AE9;
}

.questions-btn:hover {background-color: #0463bb}

.buttons a{
    font-size: 12px;
    color: white;
    font-weight: 200;
    text-decoration: none;
}

.icon{
    float: right;
    font-size: 30px;
    color: white;
    line-height: 40px;
    margin-right: 15px;
    padding: 10px;
    cursor: pointer;
    display: none;
}
@media (max-width : 1492px){
    .container{
        margin:3% auto;
        margin-top: 74px;
        width: 90%;
    }
}
@media (max-width : 1428px){
    .container{
        width: 85%;
    }
    .row{
        justify-content: space-evenly;
    }
}

@media (max-width : 952px) {
    .container{
        margin:3% auto;
        margin-top: 80px;
        width: 90%;
    }
    .card{
        margin: 5px 4px;
    }

    .details h2{
        font-size: 20px;
        line-height: 2;
    }

}


@media  screen and (max-width : 765px) {

    .container{
        width: 95%;
        margin-top: 120px;
    }
    .details p{
        font-size: 12px;
        line-height: 1.5;
    }

}